--CREATE ROLE andlem PASSWORD 'Passw0rd' NOSUPERUSER CREATEROLE INHERIT LOGIN;
--CREATE SCHEMA lab01;

--SET SEARCH_PATH TO lab01 ;
--GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA lab01 TO andlem;
--GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA lab01 TO andlem;
--GRANT USAGE ON SCHEMA lab01 TO andlem;
--GRANT CREATE ON SCHEMA lab01 TO andlem;
--GRANT ALL PRIVILEGES ON SCHEMA lab01 TO andlem;
--GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA lab01 TO andlem;
--GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA lab01 TO andlem;
ALTER TABLE lab01.uczestnik OWNER TO andlem;
