[u9nazwisko]
Description     = lab connection
Driver          = PostgreSQL Unicode
Tracefile       = Yes
Tracefile       = /tmp/odbc.log
Database        = u9wajda
Server          = localhost
Port            = 5432
Socket          =
Username        = u9nazwisko
Password        = 9nazwisko